@media screen and (max-width: 1024px) {

  .hero_left_btn_group button {
    width: 34% !important;
 
}
  .left_list {
    padding-right: 0px;
    gap: 2px;
  }

  .faq_parent {
    padding: 0px 0px 0px 0px;
  }

  .contact_left_box {
    height: 100%;
  }
  .connect_items svg {
 
    width: 9%;
 
}

.connect_items h6 {

  padding-top: 0px;

}
  .contact_left_box h5 {
    font-size: 11px;
  }

  .hero_left_side {
    padding-top: 30px;
    padding-left: 0px;
    padding-bottom: 30px;
  }

  .hero_head {
    font-size: 45px;
  }

  .black_head {
    font-size: 45px;
  }

  .nav-item a {
    font-size: 11px;
  }
  .trusted_img_group img {
    /* width: 100% !important; */
    height: 80px !important;
   
}
  .right_list {
    gap: 5px;

    font-size: 14px;
  }

  .navbar-expand-md .navbar-collapse {
    padding: 26px 0px 0px 0px;
  }

  .small_right_pic {
    left: 202px;
    margin-top: -326px;
  }

  .hero_left_side h5 {
    padding-bottom: 10px;
    padding-top: 17px;
    font-size: 15px;
  }

  .hero_left_btn_group button {
    height: auto;
  }

  .hero_left_btn_group svg {
    /* padding-bottom: 50px; */
    padding-left: 50px;
    right: 0;
    width: 100%;
    padding-left: 40px;
  }

  .over_all_parent p {
    padding-bottom: 20px;
  }

  .cnt {
    font-size: 12px;
  }

  .navbar {
    padding-bottom: 20px;
  }

  .consulting {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .trusted {
    padding-bottom: 30px;
  }

  .col_right_side {
    padding-top: 50px;
  }

  .content_list {
    align-items: start;
    justify-content: center;
  }

  .right_content_with_img {

    font-size: 13px;
 
  }

  .combine {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .combine_left_content {
    padding-top: 10px;
    font-size: 20px;
  }

  .customer_content_group {
    padding-top: 20px;

    gap: 20px;
  }

  .customer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .tools_img_group {
    /* justify-content: space-evenly; */
    gap: 5px;
  }

  .tools_right_side {
    padding-left: 90px;
  }

  .tools_right_side h2 {
    font-size: 30px;
  }

  .purple_service {
    font-size: 35px;
  }

  .rush {
    padding-top: 50px;

    padding-bottom: 50px;
  }

  .tools {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .footer_items {
    padding-top: 50px;
  }

  .footer_left_side p {
    font-size: 16px;

    padding-left: 20px;
  }

  .line {
    padding: 0px 50px 0px 50px;

    padding-left: 20px;
  }

  .footer_left_side h5 {
    padding-top: 50px;
    color: var(--More-Color-White, #fff);
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    padding-right: 100px;
  }

  .bottom_parent {
    gap: 0px;
  }

  .bottom_parent img {
    padding-left: 400px;
  }

  .footer_items h3 {
    font-size: 14px;
  }

  .footer_items li a {
    font-size: 13px;
  }

  .bottom_pera {
    padding-left: 19px;
  }

  .double_box input {
    width: 100%;
    margin-bottom: 30px;
  }

  .customer_parent h2 {
    font-size: 40px;
  }

  .over_all {
    padding-top: 60px;
    padding-bottom: 52px;
  }

  .faq {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  /* .trusted_img_group img {
    width: 50%;
    height: 40px;
} */

  .hero_right_side {
    padding-left: 0px;
}
  .trusted_img_group {
    flex-wrap: wrap;
  }

  .tools_right_side {
    padding-left: 30px;
  }

  .nav-item a {
    font-size: 10px;
  }

  .right_list {
    gap: 5px;

    font-size: 11px;
  }

  .left_list {
    padding-right: 0px;
    gap: 5px;
  }

  .btn_primary {
    padding: 4px 20px;
    width: 20%;
  }

  .list_parent {
    padding-top: 35px;
}

  .cnt {
    font-size: 10px;
  }

  .blck_log {
    font-size: 13px;
  }

  .hero_left_side {
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 50px;
  }

  .black_head {
    font-size: 40px;
  }

  .right_list {
    gap: 19px;

    padding-right: 30px;
  }

  .hero_head {
    font-size: 40px;
  }

  .hero_left_side h5 {
    padding-bottom: 20px;
    padding-top: 30px;
  }
  .cnt {
 
    font-size: 14px !important;
}
  .hero_left_btn_group button {
    height: auto;
  }

  .consulting {
    padding-top: 40px;
  }

  .consulting_parent h2 {
    padding-top: 3px;
    font-size: 40px;
  }

  .purple_service {
    font-size: 40px;
  }

  .col_left_side {
    padding-bottom: 30px;
  }

  .col_right_side {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .combine {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .contact_left_box {
    height: auto;
  }

  .customer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .customer_parent h2 {
    font-size: 38px;
  }

  .customer_content_group {
    padding-top: 20px;

    gap: 20px;
  }

  .customer_content_child h5 {
    font-size: 18px;
  }

  .over_all {
    padding-top: 40px;
    padding-bottom: 50px;
  }

  .over_all_parent img {
    padding-top: 20px;
  }

  .over_all_parent h4 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 14px;
  }

  .faq_parent {
    padding: 0px;
  }

  .faq {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .rush {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .rush_right_content {
    text-align: center;
  }

  .tools_img_group {
    gap: 35px;
  }

  .tools_right_side {
    padding-top: 40px;
  }

  .tools_right_side h2 {
    font-size: 40px;
  }

  .tools {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .footer_left_side h5 {
    padding-top: 50px;
    padding-right: 500px;
  }

  .footer_left_side p {
    padding-left: 27px;
  }

  .footer_left_side {
    padding-bottom: 0px;
  }

  .footer_items {
    padding-top: 30px;
    padding-left: 30px;
  }

  .line {
    padding: 10px 20px 10px 20px;
  }

  .line_child {
    gap: 20px;
  }

  .line_child li {
    padding-top: 10px;

    font-size: 12px;
  }

  .bottom_pera {
    padding-left: 20px;
    font-size: 14px;
  }

  .footer_items li a {
    font-size: 16px;
  }

  .double_box input {
    width: 100%;
  }

  .carousel-control-prev {
    left: -25px ;
}

.carousel-control-next {
  right: -23px;
}

}

@media screen and (max-width: 425px) {

  .over_all_parent img {
  
    height: 54px;
  }



  /* 01-06-24 start */

  .trusted_img_group img {
    width: 100%;
    height: 100%t;

    max-width: 150px;
    max-height: 80px;


  }

  .navbar-toggler {

    width: 41px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .accordion-item:last-of-type .accordion-button.collapsed {

    line-height: 20px;
  }

  .contact_left_box {
    padding: 39px;
    height: auto;
    gap: 10px;
  }

  .single_boxes {
    padding-top: 20px;
  }

  .single_boxes {
    padding-top: 20px;
  }

  .single_boxes input {
    width: 100%;
    height: 50px;
    padding: 10px !important;
  }

  .single_boxes textarea {

    padding: 10px !important;
  }

  .customer_parent h2 {
    font-size: 20px;
  }

  .customer_content_child {

    padding-top: 10px;
  }

  .customer_content_child h5 {
    font-size: 12px;
  }

  .footer_items {

    padding-left: 5px;
  }

  .navbar-brand {
    padding-top: 10px;
  }

  .hero_left_btn_group.d-flex.align-items-center {
    justify-content: space-around;
    gap: 20px;
  }

  /* 01-06-24 end */
  .customer_content_group {
    flex-direction: column;
  }

  .customer_content_child h5 {
    font-size: 18px;
  }

  .navbar {
    padding-bottom: 12px;
  }

  .btn_black_with_border {
    padding: 2px 13px;
  }

  .nav-item a {
    font-size: 14px;
  }

  .right_list {
    gap: 3px;

    font-size: 12px;
  }

  .cnt {
    font-size: 12px;
  }

  .blck_log {
    font-size: 14px;
  }

  .hero_left_btn_group button {
    width: auto;
  }

  .btn_secondary {
    padding: 3px 30px;
    height: 40px;
  }
  .btn_primary {
    padding: 4px 20px;
 width: 30%;
    height: 40px;
}

  .btn_white {
    padding: 3px 20px;
  }

  .btn_black {
    padding: 3px 20px;
  }

  .btn_white_text {
    font-size: 12px;
  }

  .btn_black_text {
    font-size: 12px;
  }

  .left_list {
    padding-right: 2px;
    gap: 4px;
    color: var(--Extra-P1, #7275ff);
    font-family: Muli;
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
  }

  .hero_left_side {
    padding-top: 30px;
    padding-left: 10px;
  }

  .hero_head {
    font-size: 30px;
    text-align: center;
  }

  .black_head {
    padding-top: 30px;
    font-size: 30px;

    line-height: 118%;
  }

  .hero_left_side h5 {
    padding-bottom: 8px;
  }

  .hero_left_btn_group button {
    height: 46px;
  }

  .hero_left_btn_group {
    padding-top: 10px;
  }

  .hero_left_btn_group img {
    padding-left: 7px;
    padding-top: 10px;
  }

  .hero_left_btn_group h5 {
    padding-top: 20px;
    padding-left: 15px;
  }

  .big_pic.position-relative {
    padding-top: 30px;
  }

  .hero_left_btn_group img {
    width: 17%;
  }

  .trusted {
    padding-bottom: 30px;
  }

  .consulting {
    padding-top: 50px;
    padding-bottom: 40px;
  }

  .consulting_parent h2 {
    padding-top: 5;
    font-size: 32px;
  }

  .purple_service {
    font-size: 30px;
  }

  .col_left_side {
    padding-bottom: 20px;
  }

  .col_right_side {
    padding-top: 30px;
  }

  .right_content {
    font-size: 14px;

    /* padding-left: 20px; */
  }

  .right_content_with_img {
    font-size: 13px;
    line-height: 20px;
  }

  .combine {
    padding-top: 30px;
    padding-bottom: 34px;
  }

  .contact {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .single_boxes input {
    width: 100%;
  }

  .single_boxes textarea {
    width: auto;
  }

  .contact_content {
    font-size: 12px;
  }

  .contact_left_box h3 {
    /* padding-left: 13px; */
    font-size: 32px;
  }

  .contact_left_box h4 {
    font-size: 13px;

    line-height: 20px;
  }

  .connect_items h6 {
    font-size: 13px;
  }

  .lrn_more {
    font-size: 14px;
  }

  .connect_items h5 {
    padding-left: 20px;
  }

  .contact_left_box h5 {
    font-size: 10px;
  }

  .connect_items svg {
    width: 9%;
  }

  .connect_items h6 {
    padding-top: 0px;
  }

  .contact_left_box h5 {
    padding-top: 10px;
  }

  .connect_items h6 {
    padding-left: 10px;
  }

  .bottom {
    width: 50%;
  }

  .faq_parent h2 {
    font-size: 35px;
  }

  .contact_left_box {
    padding: 39px;
    height: auto;
  }

  .consulting_parent h2 {
    padding-top: 0px;
  }

  .consulting_parent h5 {
    font-size: 14px;
  }

  .col_parent {
    padding-top: 20px;
  }

  .p_policy {
    font-size: 13px;
    padding-left: 5px;
  }

  .customer {
    padding-top: 20px;
    padding-bottom: 35px;
  }

  .customer_parent h2 {
    font-size: 27px;
    line-height: 114%;
  }

  .customer_content_group {
    padding-top: 20px;

    gap: 10px;
  }

  .customer_content_child h5 {
    font-size: 15px;
  }

  .customer_btns {
    padding-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .over_all {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .accordion-item:last-of-type .accordion-button.collapsed {
    font-size: 14px;
  }

  .accordion-button {
    font-size: 14px;
  }

  .faq_parent {
    padding: 10px;
  }

  .over_all_parent p {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .over_all_parent h4 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 12px;
    padding: 30px 50px 30px 50px;
  }

  body {
    font-size: 14px;
  }

  .faq {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .faq_list_group li {
    width: auto;
  }

  .rush {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .rust_left_content h2 {
    font-size: 24px;
  }

  .rush_btn {
    padding-top: 20px;
  }

  .rush_box {
    padding: 40px;
  }

  .rush_right_content {
    padding-top: 30px;
    text-align: center;
  }

  .tools {
    padding-bottom: 30px;
  }

  .tools_right_side {
    padding-top: 30px;
    padding-left: 20px;
  }

  .tools_btn {
    padding-top: 24px;
  }

  .hero_right_side {
    padding-left: 0px;
  }

  .tools_img_group img {
    width: 80px;
    height: 82px;
  }

  /* .tools_img_group {
    gap: 17px;
    padding: 20px;
  } */

  .tools_right_side h2 {
    padding-top: 20px;
    font-size: 30px;
  }

  .footer_left_side {
    padding-bottom: 25px;
  }

  .footer_left_side h5 {
    padding-top: 30px;

    font-size: 30px;
  }

  .single_boxes textarea {
    width: 100%;
    font-size: 14px;
  }

  .footer_left_side h5 {
    padding-top: 20px;

    padding-right: 232px;
  }

  .footer_left_side p {
    font-size: 12px;
    padding-left: 10px;
  }

  .footer_items {
    padding-top: 2px;

    padding-left: 5px;
  }

  .footer_items h3 {
    font-size: 18px;

    line-height: 22px;
  }

  .footer_items li a {
    font-size: 13px;

    gap: 5px;
  }

  .bottom_pera {
    padding-top: 10px;
    font-size: 12px;
    padding-left: 10px;
  }

  .line {
    padding-left: 10px;
  }

  .line_child {
    gap: 30px;
    padding-left: 8px;
  }

  .line_child li {
    padding-top: 10px;
    font-size: 12px;
  }

  dl,
  ol,
  ul {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .line {
    padding: 0px;
  }

  .line_content {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
  }

  .line_right {
    padding-right: 20px;
  }

  .hero_left_side {
    padding-bottom: 25px;
  }

  .navbar-toggler {
    border: none;
  }

  .contact_right_side {
    padding: 20px;
  }

  .combine_left_side h2 {
    font-size: 29px;
    text-align: center;
  }

  .list_parent {
    padding-top: 30px;
  }

  .tools_img_group {
    justify-content: space-evenly;
    gap: 10px;
  }

  .consulting {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .heading_content {
    padding-top: 18px;
  }

  .accordion-button:not(.collapsed) {
    font-size: 16px;
  }

  .footer_items h3 {
    padding-top: 10px;
  }

  .right_list {
    gap: 10px;
    padding-right: 0px;
  }

  .col_right_side {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 375px) {

  .btn_primary {
    padding: 4px 20px;
    width: 34%;
    height: 40px;
}
  .right_list {
    gap: 10px;
    padding-right: 0px;
  }

  .line_child svg {
    width: 20px;
  }

  .footer_left_side h5 {
    padding-right: 150px;
  }

  .heading_content h5 {
    font-size: 16px;
  }

  .consulting_parent h2 {
    font-size: 24px;
  }

  .consulting {
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .combine_left_side h2 {
    font-size: 24px;
  }
}